*#
*~
.ackrc
.emacs.desktop*
.mc-lists.el
elpa
ac-comphist.dat
ido.last
places
places.eld
projectile-bookmarks.eld
projectile.cache
projectile-frecency.eld
recentf
smex-items
transient/*
/eln-cache/
/tree-sitter/
/custom.el
/history
/recentf.eld
/tramp